/*config global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
}


/* navbar */

.nav-item {
    margin: 5px !important;
}


.card-inner{
    margin-left: 4rem;
}


/* foooter */

footer {
    position: relative;
    top: 1150px;
    background-color: #707070 !important;
    height: 110px;
}
