.form-gap {
    padding-top: 100px;
}
.nav-item {
    margin: 5px !important;
}




.container {
    position: absolute; /* postulat de départ */
  top: 50%; left: 70%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 1000px;
}

.item {
    width: 10em;
}
    



/* foooter */
footer {
    position: relative;
    top: 730px;
    background: #707070! important;
    height: 82px;
}
