/*config global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-color: #F1F1F2;
}


/* navbar */

.nav-item {
    margin: 1px !important;
}


/* localisation */
.breadcrumb{
    position: relative;
    left: 65px;
}
.breadcrumb p{
    right: 12px;
    position: relative;
}

.breadcrumb a {
    text-decoration: none;
}

/* ajustement de l'image  */
.image_hotel{
    position: relative;
    left: 150px;
}
/* positionnement du contenus principale*/
article .row {
    width: 500px;
    height: 100px;
    position: relative;
    bottom: 630px;
    left: 850px;
}

article .city_hotel {
    position: relative;
    bottom: 25px;
    left: 25px;
}


/* positionnement des etoile**/
article .start {
    position: relative;
    bottom: 40px;
}

article .start i {
    font-size: 30px;
    color: yellow;
}

/* placement du button reserver est galerie  */
article .galerie_photo,
.reserver-btn {
    background-color: #33939A;
    position: relative;
    left: 150px;
    width: 150px;
}


/* foooter */

footer {
    position: relative;
    background: #707070! important;
    height: 66px;
}


/* partie responsive   */
@media screen and (max-width: 1280px){

    .navbar{
        position: relative;
        width: 1350px;
        font-size: xx-large;

    }

    /* localisation  */
    .breadcrumb{
        font-size:xx-large;
        /* width: 10px; */
        
    }
     /* titre avec les note  */
    .description{
        position: relative;
        right: 450px;
        top: 30px;
        font-size: xx-large;
    }

    /* positionnement image  */

    .image_hotel{
        position: relative;
        top: 400px;
        left: 400px;
    }

    .localisation_hotel, .presentation{
        font-size:40px;
        text-align: center;
        position: relative;
        top: 900px;
        right: 400px;
        width: 1000px;
    }

    footer{
        font-size:xx-large; 
        position: relative;
        height: 150px;
        top: 2130px;
        width: 1500px;
    }
}