/*config global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
}


/* navbar */
.nav-item {
    margin: 5px !important;
}

/* localisation */
.breadcrumb p {
    position: relative;
    right: 12px;
}
.breadcrumb{
    position: relative;
    left: 65px;
}
.breadcrumb a {
    text-decoration: none;
}


/* ajustement du titre  */
h1{
    position: relative;
    bottom: 30px;
    left: 720px;
    width: 500px;
}

/* positionnement des image de menu  */

.menu_jour_image, .menu_vegeterien_image,  .menu_enfant_image{
    max-width: 100%;
    height: auto;
    width: 300px;
}




.enfant_image{
    position: center;
    left: 700px;
    top: 70px;
}
/* article de menu enfant  */
.menu_enfant{
    position: relative;
    left: 550px;
    top: 100px;
    width: 500px;
}
.img{
    margin-left: auto;
    margin-right: auto;
    width: 6em
    
}
/* titre de menu enfant  */
.menu_enfant_titre{
    position: relative;
    bottom: 270px;
    width: 500px;
    left: 200px;
}
/* paragraphe du menu enfant  */
.menu_enfant-paragraphe{
    position: relative;
    width: 700px;
    left: 50px;
    text-align: center;
    bottom: 50px;
}
/* prix menu enfant  */
.menu_enfant_prix{
    position: relative;
    bottom: 50px;
    left: 250px;
}


/* image menu jour  */
.menu_jour_image{
    position: relative;
    left: 400px;
    top: 590px;
}

/* article menu jour  */
.menu_jour{
    position: relative;
    top: 100px;
    left: 750px;
    width: 500px;
}

/* paragraphe  du menu de jour  */
.menu_jour_paragraphe{
    text-align: center;
    position: relative;
    top: 220px;
    right: 120px;
}
/* prix menu de jour  */
.menu_jour_prix{
    position: relative;
    left: 50px;
    top: 220px;
}


/* paragraphe du menu vegeterien  */
.menu_vegeterien{
    position: relative;
    top: 600px;
    left: 610px;
    width: 500px;
    text-align: center;
}
/* image du menu vegeterien  */
.menu_vegeterien_image{
    position: relative;
    top: 1050px;
    left: 100px;
}

/* titre du menu vegeterien  */
.menu_vegeterien_titre{
    position: relative;
    bottom: 250px;
}
    


/* foooter */
footer {
    position: relative;
    top: 591px;
    background: #707070! important;
    height: 82px;
}
