/*config global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-color: #F1F1F2;
}


/* navbar */

.nav-item {
    margin: 1px !important;
}


/* localisation */
.breadcrumb{
    position: relative;
    left: 65px;
}
.breadcrumb p{
    right: 12px;
    position: relative;
}

.breadcrumb a {
    text-decoration: none;
}
/* Par défaut, une étoile est en gris,
   avec un padding et un curseur en forme de main. */
   .fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
	color: #ffdc0f;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
	.stars {
		display: inline-flex;
		justify-content: center;
		font-size: 3em;
	}

	/**
	 * Et là opère la magie du ':hover' !
	 */

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en jaune. */
	.stars:hover .fa-star {
		color: #ffdc0f;
	}
	/* Et si la souris survole une étoile en particulier,
		 on sélectionne toutes les étoiles qui sont APRÈS celle-ci
		 grâce à l'opérateur '~' et on les force en GRIS */
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
	}

/* ajustement de l'image  */
.image_Sampatico{
    position: relative;
    left: 200px;
    top: 100px;
}
/* positionnement du contenus principale*/
article .row {
    width: 500px;
    height: 100px;
    position: relative;
    bottom: 630px;
    left: 850px;
}

article .city_hotel {
    position: relative;
    bottom: 25px;
    left: 25px;
}


/* positionnement des etoile**/
.start-icone {
    position: relative;
    size: 100px;
    bottom: 40px;
}

article .start i {
    font-size: 30px;
    color: yellow;
}

.share_email{
    position: relative;
    left: 800px;
    top: 200px;
}
/* placement du button reserver est galerie  */
article .galerie_photo,
.reserver-btn {
    background-color: #33939A;
    position: relative;
    left: 150px;
    width: 150px;
}

.milieu{
    position: relative;
    top: 250px;
    right: 80px;
}
/* foooter */

footer {
    position: relative;
    background: #707070! important;
    height: 66px;
    top: 180px;
}


/* partie responsive   */
@media screen and (max-width: 1280px){

    .navbar{
        position: relative;
        width: 1350px;
        font-size: xx-large;

    }

    /* localisation  */
    .breadcrumb{
        font-size:xx-large;
        /* width: 10px; */
        
    }
     /* titre avec les note  */
    .description{
        position: relative;
        right: 450px;
        top: 30px;
        font-size: xx-large;
    }

    /* positionnement image  */

    .image_hotel{
        position: relative;
        top: 400px;
        left: 400px;
    }

    .localisation_hotel, .presentation{
        font-size:40px;
        text-align: center;
        position: relative;
        top: 900px;
        right: 400px;
        width: 1000px;
    }

    footer{
        font-size:xx-large; 
        position: relative;
        height: 150px;
        top: 2130px;
        width: 1500px;
    }
}