/*config global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-color: #F1F1F2;
}


/* navbar */

.nav-item {
    margin: 1px !important;
}


/* localisation */
.breadcrumb{
    position: relative;
    left: 65px;
}
.breadcrumb p{
    right: 12px;
    position: relative;
}

.breadcrumb a {
    text-decoration: none;
}


/* title */

article .row {
    width: 500px;
    height: 100px;
    position: relative;
    bottom: 630px;
    left: 550px;
}


/* icon emap*/

article i {
    font-size: 30px;
}

article .city_hotel {
    position: relative;
    bottom: 25px;
    left: 25px;
}


/* positionnement des etoile**/

article .start {
    position: relative;
    bottom: 40px;
}

article .start i {
    color: yellow;
}

/* placement du button reserver est galerie  */
article .galerie_photo,
.reserver-btn {
    background-color: #33939A;
    position: relative;
    left: 150px;
    width: 150px;
}


/* foooter */

footer {
    position: relative;
    background: #707070! important;
    height: 82px;
}


/* partie responsive   */
@media screen and (max-width: 1280px){

    .navbar{
        font-size:xx-large;
    }

    /* localisation  */
    .breadcrumb{
        font-size:xx-large;
        
    }
     /* titre avec les note  */
    .description{
        position: relative;
        right: 150px;
        top: 50px;
    }

    /* positionnement image  */

    .image_hotel{
        position: relative;
        top: 240px;
        left: 280px;
    }

    .localisation_hotel, .presentation{
        font-size:xx-large;
        text-align: center;
        position: relative;
        top: 750px;
        right: 250px;
    }

    footer{
        font-size:xx-large; 
        position: relative;
        top: 1265px;
        width: 1100px;
    }


}