/*config global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F2;
}


/* navbar */

.nav-item {
    margin: 1px !important;
}


/* localisation */
.breadcrumb{
    position: relative;
    left: 65px;
}

.breadcrumb li:first-child {
    right: 12px;
    position: relative;
}

.breadcrumb a {
    text-decoration: none;
}


/* title */

article .row {
    width: 500px;
    height: 100px;
    position: relative;
    bottom: 355px;
    left: 800px;
}
.container-fluid > img{
    position: relative;
    top: 100px;
 }

/* icon emap*/

article i {
    font-size: 30px;
}

article .city_hotel {
    position: relative;
    bottom: 25px;
    left: 25px;
}


/* positionnement des etoile**/

article .start {
    position: relative;
    bottom: 40px;
}

article .start i {
    color: yellow;
}

article .galerie_photo,
.reserver-btn {
    background-color: #33939A;
    position: relative;
    left: 150px;
    width: 150px;
}


/* foooter */

footer {
    position: relative;
    top: 272px;
    background: #707070! important;
    height: 82px;
}


/* faire media pour le responsive */