/* config global du responsive*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-color: #F1F1F2;
    position: relative ;
    width: 275px;
    height: 812px;
}

h1{
    position: relative;
    width: 500px;
    height: 10px;
}
/* positionnement du menu hamburger */
.navbar-toggler{
    position: relative;
    left: 100px;
}
/* localisation */
.breadcrumb{
    position: relative;
    left: 20px;
}
.breadcrumb li:first-child {
    right: 5px;
    position: relative;
}
.breadcrumb a {
    text-decoration: none;
}

/* title locate hotel et start positonnement*/
.container-fluid .description{
    position: relative;
    right: 650px;
    top: 190px;
}

/* image */
.image_dubai {
    position: relative;
    width: 350px;
    top: 10px;
}


/* block de start  */
.start{
    position: relative;
    width: 100px;
    height: 50px;
}

/* explication de l'hotel */
.localisation_hotel, .presentation{
    position: relative;
    right:700px;
    top: 400px;
    width: 350px;
}

footer {
    position: relative;
    top: 620px;
    background: #707070! important;
    height: 70px;
    width: 300px;
    right: 0px;
}

/* faire media pour le responsive */